doctype html
html(lang="en")
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,700", rel="stylesheet")
      link(rel="stylesheet", href="/css/style.css")
      link(rel='stylesheet' href='/css1/style1.css') 
      link(rel="shortcut icon", type="/image/png", href="/img/favicon.png")
      link(rel='stylesheet' href='/fonts/material-icon/css/material-design-iconic-font.min.css')
      //- script(src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js')
      //- link(href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet')
      title Natours | #{title}

  body
    // HEADER
    include _header
    // CONTENT
    block content
    // FOOTER
    include _footer
    script(src='/js/axios.js')
    //- script(src='/js/mapbox.js')
    //- script(src='/js/bundle.js')